{% extends "base.html" %}
{% block title %}Главное меню{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center">
    <h1 class="display-5 m-4">
        <a href="/"><mark>Источники</mark></a>

    </h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="?">
                <div class="card mt-4">
                    <div class="card-body">

                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3hZIY5fKQwTzTRw1vJVOMe04tnPysbNOu8Zifz9ctamOd_5DoTYH-sDgZ-adJVFP57B0&usqp=CAU"
                         class="card-img-top">
                        <h5 class="card-title mt-3" style="text-align: center">Добавить Ozon</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}