{% extends "base.html" %}
{% block title %}Ошибочка{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center">
    <h1 class="display-5 m-4">
        <mark>ПЕЙДЫЖ 404 ЕРРОР ОЙ БЛ...</mark>
    </h1>
</div>
<div class="container d-flex justify-content-center mb-4 mt-4">
    <img src="https://i.gifer.com/ImPS.gif" alt="this slowpoke moves"  width="250" alt="404 image"/>
</div>
<div class="container d-flex justify-content-center">
<h1>
  Кажется, вы допустили самую большую ошибку в своей жизни
</h1>
</div>
<div class="container d-flex justify-content-center">
<h2>
  Ваш волшебный тык оказался мимо кассы.
</h2>
</div>
<div class="container d-flex justify-content-center">
<h3>
  И не надо гнать на разработчика..
</h3>
</div>
<div class="container d-flex justify-content-center">
<h4>
  Он и так это пишет ночью...
</h4>
</div>
<div class="container d-flex justify-content-center">
<h5>
  А вы его обижаете....
</h5>
</div>
<div class="container d-flex justify-content-center">
<h6>
  спаситееее.....
</h6>
</div>

<div class="container d-flex justify-content-center">
<img src="https://cdn.glitch.com/0e4d1ff3-5897-47c5-9711-d026c01539b8%2Fbddfd6e4434f42662b009295c9bab86e.gif?v=1573157191712" alt="this slowpoke moves"  width="250" alt="404 image"/>
</div>
{% endblock %}