{% extends "base.html" %}
{% block title %}Главное меню{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center">
    <h1 class="display-5 m-4">
        <mark>Главное меню</mark>
    </h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="/storage">
                <div class="card mt-4">
                    <img src="https://img.freepik.com/premium-vector/cartoon-storage-room-with-boxes-and-loader-illustration_264840-146.jpg"
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Склады</h5>
                        <p class="card-text">Управление складами и многое другое</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/shops">
                <div class="card mt-4">
                    <img src="https://st2.depositphotos.com/1763191/44119/v/450/depositphotos_441197182-stock-illustration-fashion-clothes-store-background-illustration.jpg"
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Магазины</h5>
                        <p class="card-text">Управление магазинами и многое другое</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/sources">
                <div class="card mt-4">
                    <img src="https://parts-soft.ru/ckeditor_assets/pictures/3489/content_kak-najti-postavshhika-avtozapchastej.png"
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Источники</h5>
                        <p class="card-text">Управление источниками и многое другое</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/adding">
                <div class="card mt-4">
                    <img src="https://img.freepik.com/premium-vector/business-statistics-cartoon-style-vector-concept-illustration_92926-1741.jpg"
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Добавление товаров</h5>
                        <p class="card-text">Информация о проблемах с товарами</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a>
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ created_count }} товаров</h5>
                        <p class="card-text">ждут сбора данных с сайта поставщика</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a>
                <div class="card mt-4" style="background-color: mediumpurple; color: white">
                    <div class="card-body" >
                        <h5 class="card-title">{{ source_parsed_count }} товаров</h5>
                        <p class="card-text">находятся в очереди на сбор данных на сайте Ozon</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a>
                <div class="card mt-4" style="background-color: mediumpurple; color: white">
                    <div class="card-body">
                        <h5 class="card-title">{{ target_parsed_count }} товаров</h5>
                        <p class="card-text">ждут обработки человеком в телеграм боте</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a>
                <div class="card mt-4" style="background-color: green; color: white">
                    <div class="card-body">
                        <h5 class="card-title">{{ suggested_count }} товаров</h5>
                        <p class="card-text">было согласовано в телеграм боте начиная с 08.05.2023</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a>
                <div class="card mt-4" style="background-color: crimson; color: white">
                    <div class="card-body">
                        <h5 class="card-title">{{ source_error }} товаров</h5>
                        <p class="card-text">хранится в базе с ошибками парсинга источника</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="/adding/stats">
                <div class="card mt-4" style="background-color: darkmagenta; color: white">
                    <div class="card-body">
                        <h5 class="card-title">Посмотреть статистику добавления товаров</h5>
                        <p class="card-text">Узнать, сколько сегодня, а также по периоду добавил товаров человек через телеграм бота</p>
                    </div>
                </div>
            </a>
        </div>
     <div class="col-md-3" >
            <a>
                <div class="card mt-4" style="background-color: crimson; color: white">
                    <div class="card-body">
                        <h5 class="card-title">{{ target_error }} товаров</h5>
                        <p class="card-text">находится в базе ошибок парсинга Ozon</p>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>
{% endblock %}
