{% extends "base.html" %}
{% block title %}Склад{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center">
    <h1 class="display-5 m-4"><mark>Статистика продаж товара</mark></h1>
</div>
<div class="container d-flex justify-content-center">
    <div style="height: 50vh; width: 50%;">
        <canvas id="myChart"></canvas>
    </div>
</div>
</body>
    <script>
        const labels = {{ labels | tojson}};

        const data = {
            labels: labels,
            datasets: [{
                label: 'Количество продаж в зависимости от месяца',
                backgroundColor: 'rgb(255, 255, 255)',
                borderColor: 'rgb(255, 255, 255)',
                data: {{ data | tojson}},
            }]
        };

        const config = {
            type: 'line',
            data: data,
            options: {
                maintainAspectRatio: false,
                plugins: {
                legend: {
                    labels: {
                        color: 'white' // изменено на белый цвет
                    }
                }
            },
                scales: {
                x: {
                    ticks: {
                        color: 'white' // изменить цвет названий по оси x на белый цвет
                    }
                },
                y: {
                    ticks: {
                        color: 'white' // изменить цвет названий по оси y на белый цвет
                    }
                }

            }
            }
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );

    </script>

{% endblock %}